---
import Frame from '../layouts/Frame.astro'
import ArticleCard from '../components/articleCard.astro'
import PageSelector from '../components/pageSelector.astro'
import Ogp from '../components/ogp'
import { OgImageUrlInText } from '../lib/cloudinaryOgp'
import { getAllPosts } from '../lib/astroApi'

const postsPerPage = 10
const allPosts = await getAllPosts(['title', 'date', 'slug', 'tags', 'description'])
const posts = allPosts.slice(0, postsPerPage)
const pages = Math.ceil(allPosts.length / postsPerPage)
---

<Frame titleIsH1={true}>
  <title slot="head">memo.yammer.jp - 常に完成形</title>
  <link slot="head" rel="alternate" type="application/rss+xml" title="RSS2.0" href="/posts/index.xml" />
  <Ogp
    slot="head"
    title='memo.yammer.jp'
    path='/'
    description='常に完成形'
    ogImage={OgImageUrlInText('memo.yammer.jp')}
    ogType='website'
  />
  {posts.map((post) => (
    <ArticleCard post={post} key={post.slug} tagsEmphasizing={[]} allEmphasizing={true} linkable={true} />
  ))}
  <PageSelector nowPage={1} pages={pages} />
</Frame>
