---
import styles from './tag.module.css'

const {
  tagName,
  emphasizing = false,
  linkTo = undefined,
  selectable = false,
  selected = false,
  inArticleHeader = false,
} = Astro.props as {
  tagName: string
  emphasizing?: boolean
  linkTo?: string | undefined
  selectable?: boolean
  selected?: boolean
  inArticleHeader?: boolean
}

const className = Object.entries({
  [styles.articleTag]: true,
  [styles.linkable]: !!linkTo,
  [styles.emphasizing]: emphasizing,
  [styles.selectable]: selectable,
  [styles.selected]: selected,
  [styles.inArticleHeader]: inArticleHeader,
})
  .filter(([_, value]) => value)
  .map(([key]) => key)
  .join(' ')
---

{linkTo ? (
  <a href={linkTo}>
    <span class={className}>{tagName}</span>
  </a>
) : (
  <span class={className}>{tagName}</span>
)}
